#root {
  max-width: 100vw;
  text-align: center;
  margin-right: 0px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* CSS to make the top most navbar white. */
#persistent-navbar-top {
  width: 100vw;
  height: 61px;
  background-color: #FFFBFF;
  color: #0118D8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 120;
  font-size: 32px;
}

/* CSS to make the navbar -  below the top, white navbar - blue . */
#persistent-navbar-bottom {
  width: 100vw;
  background-color: #0118D8;
  color: #FFFBFF;
  height: 62px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CSS to handle the positioning of the container holding 
   all elements of the left side of the blue navbar. */
#blue-navbar-left {
  margin-left: 300px;
  font-weight: 650;
}

/* CSS to handle the positioning of the container holding 
   all elements of the right side of the blue navbar. */
#blue-navbar-right {
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  font-weight: 650;
}

/* CSS to handle the styling of the individual items*/
.blue-navbar-right-subitem {
  margin-right: 100px;

}

/* CSS to make the bottom banner a blue trapezoid. */
#bottom-banner-triangle {
  width: 100px;
  height: 0;
  background-color: #0118D8;
  color: #FFFBFF;
  position: fixed;
  /* To position the triangle, it may be a good idea to get the rendered
   * rectangle's height, and use it as the value to bottom.
   */
  bottom: 100px;
  border-bottom: 200px solid transparent;
  border-left: 100vw solid;
  border-right: 25px solid transparent;
}

#bottom-banner-rectangle {
  width: 100vw;
  height: 100px;
  background-color: #0118D8;
  color: #FFFBFF;
  position: fixed;
  bottom: 0;
}

.lets-go-arrow {
  display: inline;
  font-size: 20px;
  font-weight: 550;
}